@model List<ApiDeneme.Models.islem>

@{
    ViewData["Title"] = "getApi";
}


<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Conract</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var trade in Model)
        {

             <tr>
                <td>@trade.Tarih</td>    
                <td>@trade.toplamIslem</td>
                <td>@trade.toplamIslemFiyat</td>
                <td>@trade.agirlikliOrtalama</td>
            </tr>
        }
    </tbody>
</table>